body {
    
    text-align: center;
     background: linear-gradient(#00ff66 0%, #0aa311 100%)
}

div {
    margin-top: 15px;
    text-align: left;
}


img {
    
    width: 400px;
    
}

.image-section {
    
    display: flex;
    justify-content: center;
    
}


.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}